{
  "presets": [
    "react",
    "env"    
  ],
  "plugins": [
    ["@fs/babel-plugin-import",{
      "libraryName": "@fs/cc-ui",
      "style": "css"
    }],
    ["transform-class-properties", { "spec": true }],
    ["transform-runtime", {
      "helpers": false,
      "polyfill": false,
      "regenerator": true,
      "moduleName": "babel-runtime"
    }]
  ]
}